@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(33, 47, 69);
}

/* Navbar */

.navbar {
    background-color: transparent;
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Righteous', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    padding-left: 2rem;
}

.navbar-brand:hover {
    color: #4d194d;
}

/* Search bar section - jumbotron */

.jumbotron {
    height: 90vh;
    width: auto;

    background: url(../images/hero.jpeg) no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0rem 0rem 10rem 4rem rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.search-container {
    background-color: rgba(33, 47, 69, .7);
    color: #fff;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

.search-container h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.search-container p {
    margin-bottom: 1.5rem;
}

#search-input {
    border-radius: 1rem;
    width: 70%;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    padding: 15px;
    outline: none;
}

/* Search  button */

#search-button {
    background-color: #006466;
    color: #fff;
    border-radius: 50px;
    border: solid #144552 2px;
    box-shadow: none;
}

#search-button:hover {
    background-color: #3e1f47;
    border: solid #4d194d 2px;
}

/* Listings containers & headings */

#watch-list{}

#popular-list,
#top-rated-list {
    max-height: 30rem;
    justify-content:flex-start;
    display: flex;
    flex-wrap: nowrap;
}

.list-header {
    color: #fff;
    margin-left: 2rem;
    font-size: 1.75rem;
}

.listing {
    color: #fff;
    background-color: rgba(53, 126, 128, .4);
    height: 23rem;
    width: 16rem;
    margin: 1rem;
    border-radius: 3px;

    padding: .5rem;
    justify-content: center;
    text-align: center;
}

.listing img {
    border-radius: 3px;
}

.listing-info h4 {
    font-size: 1.2rem;
}

.overview {
    /* position: absolute;
    height: 23rem;
    width: 16rem;
    opacity: 0;
    transition: .5s ease;
    background-color: #312244;
    transform: translateY(-92.6%) translateX(-3.1%);
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    align-content: center;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}

.overview::-webkit-scrollbar {
    display: none;
}

.listing:hover .overview {
    opacity: 1;
}

.scroll-list {
    overflow-x:scroll;
    overflow-y:hidden;
}

/* alerts */

.modal-content {

}

.bootbox-close-button {
    
}