@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(33, 47, 69);
}

/* Navbar */

.navbar {
    background-color: transparent;
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Righteous', sans-serif;
    color: #fff;
    font-size: 2.5rem;
    padding-left: 2rem;
}

.navbar-brand:hover {
    color: #4d194d;
}

/* Search bar section - jumbotron */

.jumbotron {
    height: 90vh;
    width: auto;

    background: url(../images/hero.jpeg) no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0rem 0rem 10rem 4rem rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.search-container {
    background-color: rgba(33, 47, 69, .7);
    color: #fff;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

.search-container h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.search-container p {
    margin-bottom: 1.5rem;
}

#search-input {
    border-radius: 1rem;
    width: 70%;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    padding: 15px;
    outline: none;
}

/* Buttons */

#search-button {
    background-color: #006466;
    color: #fff;
    border-radius: 50px;
    border: solid #144552 2px;
    box-shadow: none;
}

#search-button:hover {
    background-color: #3e1f47;
    border: solid #4d194d 2px;
}

#more-popular,
#more-trending {
    color:#fff;
    font-size: 1rem;
    box-shadow: none;
}

#more-popular:hover,
#more-trending:hover{
    color:#6d236d;
}

#more-popular,
#more-trending span {
    display: inline;
}

/* Listings containers & headings */

#search-results-header {
    margin-top: 1rem;
    display: none;
}

#search-results-list,
#popular-list,
#trending-list {
    max-height: 30rem;
    justify-content:flex-start;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
}

.list-header {
    color: #fff;
    margin-left: 2rem;
    font-size: 1.75rem;
}

.list-header h2 {
    display:inline-block;
}

.listing {
    color: #fff;
    background-color: rgba(53, 126, 128, .4);
    height: 23rem;
    width: 16rem;
    margin: 1rem;
    border-radius: 3px;

    padding: .5rem;
    justify-content: center;
    text-align: center;
}

.listing img {
    border-radius: 3px;
    cursor: pointer;
}

.listing-info h4 {
    font-size: 1.2rem;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(0.95);
}

.zoom-right:hover {
    transform: scale(0.95);
}

.scroll-list {
    overflow-x:scroll;
    overflow-y:hidden;
}

/* Scroll bars */

::-webkit-scrollbar-track {
    background-color: #212F45;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 5px; 
    -webkit-box-shadow: inset 0 0 6px #006466;
}

.scroll-list::-webkit-scrollbar-track {
    background-color: #212F45;
}

.scroll-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ccc;
}

.scroll-list::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 5px; 
    -webkit-box-shadow: inset 0 0 6px #006466;
}

/* Modal and alerts */

#movie-modal-content {
    text-align: center;
    color: seashell;
}

#movie-modal-content h5 {
    margin-right: .5rem;
}

#movie-modal-content h6 {
    margin-top: 1rem;
}

#movie-modal-content span {
    margin-right: .5rem;
    padding-bottom: .5rem;
}

#movie-modal-header, 
#movie-modal-footer {
    background-color: #0b525b;
}

#movie-modal-body{
    background-color: #212f45;
}

.bootbox-close-button {
    border: none;
    background-color: #fff;
    font-size: 2rem;
    justify-items: left;
}

.bootbox-close-button:hover {
    color: #6d236d;
}

.btn-primary {
    background-color: #006466;
    color: #fff;
    border-radius: 5px;
    border: solid #144552 2px;
    box-shadow: none;
}

.btn-primary:focus {
    background-color: #006466;
    color: #fff;
    border-radius: 5px;
    border: solid #144552 2px;
}

.btn-primary:hover {
    background-color: #3e1f47;
    border: solid #4d194d 2px;
}

/* footer */

footer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#tmdb-logo {
    height: 1rem;
    display: flex;
}

footer span {
    align-items: center;
    display: inline-flex;
    color: #ccc;
}

/* Media queries */

@media only screen and (max-width: 775px) {
    .jumbotron {
        background: url(../images/hero.jpeg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .search-container {
        padding: 1rem;
    }

    .search-container h2 {
        display: none;
    }

    .search-container h3 {
        font-size: 1.5rem;
    }

    footer {
        font-size: .75rem;
         margin-left: .5rem;
    }
    
    #tmdb-logo {
        height: .75rem;
        display: flex;
    }

    .navbar-brand {
        font-size: 1.75rem;
        padding-left: 0rem;
    }

    .list-header {
        margin-left: 1rem;
    }
    
    .list-header h2 {
        font-size: 1.75rem;
    }

}