@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
    background-color: slategray;
}


/* Navbar */

.navbar {
    background-color: transparent;
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Righteous', sans-serif;
    color: #fff;
    font-size: 2.5rem;
}

/* Search bar section - jumbotron */

.jumbotron {
    height: 90vh;
    width: auto;

    background: url(../images/hero.jpeg) no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.search-container {
    background-color: rgba(33, 47, 69, .7);
    color: #fff;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 1rem;
}

.search-container h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.search-container h3 {
    margin-bottom: 2rem;
    padding: 1rem;
}

#search-input {
    border-radius: 1rem;
    width: 70%;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 15px;
}


/* Search results container styling */

#watch-list {
    display: flex; 
    flex-wrap: wrap;
}

#search-button {
    border-radius: 50px;
    border: solid red 1px;
}

